@font-face {font-family: "Noto Sans";
    src: url("//db.onlinewebfonts.com/t/2967a3c5ee426de27b245bcbc22ab82f.eot");
    src: url("//db.onlinewebfonts.com/t/2967a3c5ee426de27b245bcbc22ab82f.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/2967a3c5ee426de27b245bcbc22ab82f.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/2967a3c5ee426de27b245bcbc22ab82f.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/2967a3c5ee426de27b245bcbc22ab82f.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/2967a3c5ee426de27b245bcbc22ab82f.svg#Noto Sans") format("svg");
}
body {
  font-family: "Noto Sans";
  width: 100vw;
  height: 100vh;
}
#tooltip {
  padding: 0.5em;
  border-radius: 7px;			
  pointer-events: none;
  background-color: rgba(0,0,0,0.8);
  color: white;
  text-align: center;
  opacity: 0.3;
}
.cell:hover {
  stroke: black;
  stroke-width: 2;
}
.axes {
  font-size: 16px
}
#title, #description {
  text-align: center;
}
#title {
  font-size: 24px;
}
 #description {
  font-size: 18px;
  margin-bottom: 30px;
}
