body {
  width: 100vw;
  height: 100vh;
}
svg {
  background-color: #b3ecff;
}
#tooltip {
  padding: 0.5em;
  border-radius: 7px;			
  pointer-events: none;
  background-color: rgba(0,0,0,0.8);
  color: white;
  text-align: center;
  opacity: 0.3;
}
rect:hover {
  stroke: black;
  stroke-width: 2;
}
.axes {
  font-size: 16px
}
